name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 0 * * *'  # Runs every day at 00:00 UTC

jobs:
  build_push:
    name: Build and Push
    strategy:
      matrix:
        service: [gcp-vision]
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: ashirt/${{ matrix.service }} # list of Docker images to use as base name for tags
          tags: |
            type=sha
            type=ref,event=branch
            type=ref,event=pr
          flavor: |
            latest=false
      - name: Login to Docker Hub
        if: github.ref == 'refs/heads/main'
        uses: docker/login-action@v3.7.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build PR (no push)
        if: github.ref != 'refs/heads/main'
        uses: docker/build-push-action@v6.18.0
        with:
          context: workers/${{ matrix.service }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          # don't push because external PRs can't access secrets
          push: false

      - name: Build and Push Latest
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v6.18.0
        with:
          context: workers/${{ matrix.service }}
          tags: ${{ steps.docker_meta.outputs.tags }}, ashirt/${{ matrix.service }}:latest #Add latest tag for main
          labels: ${{ steps.docker_meta.outputs.labels }}
          push: true
